body {
    margin:0;
    padding:0;
}

.divContenedor {
    width: 100%;
    display: flex;
    gap: 5px;
}

.divContenedor div {
    width: 33.33%;
    background-color: #222222;
    color: white;
    align-content: center;
}

.divContenedor h3{
    justify-content:center;
    text-align:center;
    margin-top:20px;


}

.divContenedor p {
    justify-content: center;
    text-align: justify;
    font-size:18px;
    margin: 20px;
}

    .divContenedor img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .divContenedor div {
        padding: 20px;
        box-sizing: border-box;
    }

@media screen and (max-width: 768px) {
    .divContenedor {
        flex-direction: column;
    }

        .divContenedor div,
        .divContenedor img {
            width: 100%;
        }
}