body {
    margin:0;
    padding:0;
}

.divMain{
    display:flex;
    margin:50px;
    gap:30px;
    justify-content: center;

}

.box {
    width: 400px;
    height: 500px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
}