body {
}

.cuadrado {
    width: 200px;
    height: 200px;
    background-color: white;
    transition: transform 0.3s ease; 
    cursor: pointer; 
    user-select: text; 
}


.cuadrado:hover {
    transform: scale(1.1); 
}

.rectangulo {
    width: 200px;
    height: 400px;
    background-color: #3498db; 
    transition: transform 0.3s ease;
    cursor: pointer;
    user-select: text; 
}

/* Efecto al pasar el mouse */
.rectangulo:hover {
    transform: scale(1.2);
}

.rectangulo:active {
    background-color: red;
}

.divisorVehiculos {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    height: 25.15vh;
}

.divisorRubros {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items:center;
    height:78.7vh;
}

