body {
}

.cuadrado {
    width: 300px; /* Ancho del rectángulo */
    height: 300px; /* Alto del rectángulo (más alto que ancho) */
    background-color: #3498db; /* Color de fondo */
    transition: transform 0.3s ease; /* Suaviza la transición de agrandamiento */
    cursor: pointer; /* Cambia el cursor a pointer para indicar interactividad */
    user-select: text; /* Permite que el contenido del div sea seleccionable */
}

/* Efecto al pasar el mouse */
.cuadrado:hover {
    transform: scale(1.2); 
}

.cuadrado:active {
    background-color:red;
}

.rectangulo {
width: 400px; /* Ancho del rectángulo */
height: 600px; /* Alto del rectángulo (más alto que ancho) */
background-color: #3498db; /* Color de fondo */
transition: transform 0.3s ease; /* Suaviza la transición de agrandamiento */
cursor: pointer; /* Cambia el cursor a pointer para indicar interactividad */
user-select: text; /* Permite que el contenido del div sea seleccionable */
}

/* Efecto al pasar el mouse */
.rectangulo:hover {
    transform: scale(1.2);
}

.rectangulo:active {
    background-color: red;
}